body {
  background-color: darkgray;
}

.Menu {
  background-color: grey;
  display: flex;
  justify-content: center;
  height: 50px;
}

.Menu a {
  float: left;
  display: flex;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Menu a:hover {
  background-color: #ddd;
  color: black;
}

.Menu a.active {
  background-color: #2196F3;
  color: white;
}

.Menu input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 20px;
  font-size: 17px;
}

.Menu a, .Menu input[type=text] {
  float: none;
  display: inline;
  text-align: left;
  margin: 0;
  padding: 14px;
}

.Menu input[type=text] {
  border: 1px solid #ccc;
  margin-left: 30px;
}

.Vlaggen {
  border: 3px dotted black;
  width: 20%;
  height: 30%;
  margin-top: 10%;
}

#Vlag1 {
  width: 30%;
  height: 20%;
}

#Vlag2 {
  width: 30%;
  height: 20%;
}

h1, .Project1 {
  text-align: center;
}

main {
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.interesse {
  border: 3px dotted black;
  width: 40%;
  height: 40%;
  margin-top: 10%;
}

#interesse1 {
  width: 30%;
  height: 30%;
}

#interesse2 {
  width: 30%;
  height: 30%;
}

.Contact {
  margin-left: 42%;
  align-items: center;
}

#Naam {
  border: 3px solid black;
  width: 30%;
}

#E-mail {
  border: 3px solid black;
  width: 30%;
  margin-top: 1%;
}

#Comment {
  border: 3px solid black;
  width: 30%;
  margin-top: 1%;
}

footer {
  background-color: lightgray;
  height: 50px;
  display: flex;
}

.Links {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.E-mail {
  width: 80%;
  height: 100%;
}

.Like {
  margin-left: 65%;
}